<%- include('includes/head.ejs') %>
</head>

<body>
<div class="error-wrapper">
    <h1><%- errName %></h1>
    <h2><%- errMessage %></h2>
    <p><%- errDescr %></p>
</div>

<%- include('includes/end.ejs') %>
